<section class = "section-container">
<div class="container mx-auto flex flex-col md:flex-row items-center justify-center md:justify-between">
    <div class="md:w-1/2 flex justify-center">
      <div class="w-full text-center relative">
        <h1 class="text-4xl md:text-5xl font-bold whitespace-pre-line">
          {{ displayText }}
          <span class="border-r-4 border-primary ml-1 animate-blink"></span>
        </h1>
      </div>
    </div>
    <div class="md:w-1/2 flex justify-center">
      <div 
        [ngClass]="{'opacity-0': !showContent, 'opacity-100': showContent}" 
        class="relative group transition-opacity duration-1000"
      >
        <div class="glow-effect"></div>
        <div class="flex justify-center items-center" style="perspective: 1000px;">
          <img
            src="assets/images/profile/profile-picture.png"
            alt="Profilbild"
            [ngClass]="{'animate-flip': isFlipping}"
            class="profile-image"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>