<section class="section-container" aria-label="Hero Bereich">
  <div class="hero-container">
    <div class="md:w-1/2 flex justify-center">
      <div class="w-full">
        <h1 class="hero-title" aria-label="Willkommen auf meinem Portfolio">
          {{ displayText }}
          <span class="hero-title-blink" aria-hidden="true"></span>
        </h1>
      </div>
    </div>
    <div class="hero-profile-wrapper group" [ngClass]="{'opacity-0': !showContent, 'opacity-100': showContent}" aria-label="Profilbild">
      <div class="glow-effect" aria-hidden="true"></div>
      <img
        src="assets/images/profile/profile-picture.png"
        alt="Profilbild von Erwin Bause"
        class="hero-profile-image"
        loading="lazy"
      />
    </div>
  </div>
</section>
