<section class="section-container">
  <h2 class="section-title">Links zu sozialen Netzwerken</h2>

  <div class="content-container">
    <div class="card">
      <div class="grid md:grid-cols-2 gap-8">
        <div *ngFor="let category of socialCategories">
          <h4 class="text-lg font-medium mb-8">{{ category.name }}</h4>
          <ul class="space-y-4">
            <li *ngFor="let link of category.links">
              <a [href]="link.url" 
                 class="group flex items-center gap-4 text-gray-600 hover:text-primary w-full" 
                 target="_blank">
                <div class="w-8 flex justify-center items-center text-primary">
                  <fa-icon [icon]="link.icon" [fixedWidth]="true" size="lg"></fa-icon>
                </div>
                <span>{{ link.platform }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>