<section class="section-container" aria-label="Navigation der Karten">
  <div class="navigation-grid">
    <a
      *ngFor="let card of navigationCards"
      [href]="card.href"
      class="navigation-card group"
      [attr.aria-label]="card.question"
      [ngClass]="{'opacity-0': !showContent, 'opacity-100': showContent}"
    >
      <div class="navigation-card-content">
        <p>
          {{ card.question }}
          <span class="text-primary font-semibold">{{ card.callToAction }}</span>
        </p>
      </div>
    </a>
  </div>
</section>
