<section class="min-h-screen flex flex-col items-center justify-center bg-white px-6">
  <h1 class="text-4xl md:text-5xl font-bold">
    <div class = "flex">

    </div>
    <span class="text-gray-800">{{ displayTextPrefix }}</span>
    <span class="text-[#8b66ec]">{{ displayTextName }}</span>
    <span class="border-r-4 border-[#8b66ec] ml-1 animate-cursor"></span>
  </h1>
  <button class="mt-8 bg-[#8b66ec] text-white font-semibold py-3 px-6 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:bg-[#764ecb] hover:scale-105 focus:outline-none focus:ring-4 focus:ring-[#764ecb]">
    Kontaktiere mich!
  </button>
</section>
